*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    border-bottom: 1px solid grey;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
.menu img{
    width: 30px;
}
.menu{
    margin-right: 66.234px;
}
.menu ul{
    display: none;
    border: 1px solid grey;
    position: absolute;
    background-color: white;
}
.menu:hover ul{
    display: block;
}
.menu ul .menucon{
    padding: 10px 50px 10px 50px;
}
.menu ul a{
    font-size: larger;
}
.menu ul .menucon:hover{
    background-color: #4A69BA;
    color: white;
}
.menu hr{
    margin: 0 auto;
    background-color: #4A69BA;
    border: 0;
    height: 0.1px;
}
.logo h1{
    color: #4A69BA;
    font-size: 60px;
    padding: 10px;
}
.right{
    display: flex;
    align-items: center;
}
.right img{
    width: 30px;
    margin-left: 20px;
}
.right img:hover{
    transform: scale(1.2);
}
.right a{
    text-decoration: underline;
    color: #616161;
}
.right a:hover{
    color: #4A69BA;
}
nav{
    border-bottom: 1px solid grey;
}
nav .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav a{
    margin: 10px auto;
    font-size: 30px;
    font-weight: 500;
}
nav a:hover{
    color: #4A69BA;
    text-decoration: underline;
}
.hotnews{
    margin: 30px 0 10px 0;
    width: 100%;
    background-color: #F0F0F0;
    display: flex;
}
.hotnews img{
    height: 100%;
    float: left;
}
.hotchu{
    padding: 30px 50px;
}
.hotnews p{
    padding-top: 20px;
    color: #5F5F5F;
    font-size: 23px;
}
.hotchu h1{
    font-size: 35px;
    font-weight: 500;
}
.hotchu h1 a:hover{
    color: #4A69BA;
}
aside{
    width: 30%;
    border: 0.5px solid #d4d4d4;
    float: right;
}
aside h2{
    text-align: center;
    padding: 10px;
    border-bottom: 0.5px solid #d4d4d4;
    font-size: 28px;
    margin-bottom: 35px;
}
aside a{
    color: #616161;
    font-size: larger;
}
aside a:hover{
    color: #4A69BA;
    text-decoration: underline;
}
aside li{
    width: 85%;
    margin: 0 auto;
}
aside hr{
    border: 0;
    height: 0.5px;
    background-color:  #d4d4d4;
    width: 85%;
    margin: 35px auto;
}
.xemthem{
    text-align: center;
}
aside button{
    margin: 15px auto;
    background-color: #F6F6F6;
    color:#AFAEAE;
    border: 0.5px solid #d4d4d4;
    width: 90%;
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
}
aside button:hover{
    background-color: #4A69BA;
    color: white;
}
article{
    width: 68%;
    float: left;
}
article .khung{
    margin: 30px 0 0 0;
    border-top: 0.5px solid #d4d4d4;
    padding-bottom: 35px;
    border-bottom: 0.5px solid #d4d4d4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tintuc{
    margin: 30px 0;
    padding: 0 30px 0 0;
    border-right:0.5px solid #d4d4d4;
}
.tintuc1{
    margin: 30px 0;
    padding: 0 30px;
    border-right:0.5px solid #d4d4d4;
}
.tintuc2{
    padding: 30px;
}
.khung p{
    padding: 20px 0 0 0;
    color: #616161;
    font-size: 20px;
}
.khung h2:hover{
    color: #4A69BA;
}
.ten{
    margin: 50px auto;
    text-align: center;
    color: #e9e9e9;
    font-size: 25px;
}
.clear{
    clear: both;
    height: 15px;
}
footer{
    background-color: #EAEAEA;
    height: 205px;
}
footer .container{
    display: flex;
    position: relative;
}
.thongtin h1, .thongtin h2, .thongtin p{
    text-transform: uppercase;
    color: #4A69BA;
}
.thongtin h1{
    padding: 30px 0 10px 0;
}
.thongtin p{
    padding: 10px 0 10px 0;
    font-weight: 600;
    line-height: 25px;
}
.lienhe h1, .lienhe h2{
    text-transform: uppercase;
    color: #4A69BA;
}
.lienhe{
    padding: 30px 0 10px 150px;
}
.lienhe h2{
    padding: 30px 0 0 45px;
}
#fb img{
    width: 35px;
    position: absolute;
    top: 90px;
}
#email img{
    width: 32px;
    position: absolute;
    top: 151px;
}

.lienhe h2 a{
    color: #4A69BA;
}
.lienhe h2 a:hover{
    color: #33519c;
    text-decoration: 3px underline;
}
.backtop{
    position: fixed;
    right: 14%;
    bottom: 8%;
    cursor: pointer;
}
.backtop img{
    width: 50px;
}